<div class="w3-row-padding">
	<div class="w3-second">
		<div class="block" ng-repeat="product in producers.producerProducts track by $index">
			<div class="masonry">
				<div class="item">
				<img src="{{product.link}}" />
					<p><strong>Producer:</strong> {{product.producer}}</p>
					<p><strong>Model:</strong> {{product.model}}</p>
					<a  class="btn btn-grey btn-raised"  ng-click="producers.getProduct(product.id); ">View more</a>
				</div>
			</div>
		</div>
	</div>
</div> 
