<div class="block" ng-repeat="producer in producers.producers track by $index">
	<p><strong>Producer:</strong> {{producer.name}}</p>
	<a class="btn btn-grey btn-raised" ng-click="producers.getProducts(producer.name)">Show products</a>
</div>
<ui-view></ui-view>
