<div class="detail ">
	<img src="{{product.product.link}}" alt="{{product.product.producer}}"/>
	
	<p><strong>Producer:</strong> {{product.product.producer}}</p>
	<p><strong>Model:</strong> {{product.product.model}}</p>
	<p><strong>Description:</strong> {{product.product.description}}</p>
	<p><strong>Price:</strong> {{product.product.price | currency:"USD $ " }}</p>

	<a class="btn btn-grey btn-raised" ng-click="product.editProduct(product.product.id)">Edit</a>
	<a class="btn btn-grey btn-raised" ng-click="product.deleteProduct(product.product.id)">Delete</a>
</div>